body {
    width: 100%;
    margin: auto;
}

h1 {
    margin: auto;
    width:100%;
    text-align: center;
}
section {
    width: 80%;
    margin: auto;
}

div {
    width:100%;
    margin: auto;
    text-align: center;
    line-height: 3em;
}

ul {
    text-align:left;
}

li {
    line-height: 1.2em;
}

.number {
    border: 1px solid black;
    padding: 8px 10px;
}

.number.selected {
    background: lightgrey;
}

.squared {
    border: 1px solid black;
    padding: 8px 10px;
}

.squared.selected {
    background: lightgrey;
}

input {
    touch-action: none;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    aspect-ratio: 1;
    background-color: lightgrey;

}

.card span{
    font-size: 1.5em;
  }